#navigation {
    width: 80%;
    height: 30px;
    line-height: 30px;
    margin: 9px auto 0 auto ;
    padding: 5px 0;
    background: #BB38D9;
 
}

    #navigation ul {
        display: table-row;
        line-height: 20px;
    }

    #navigation li {
        float: left;
        margin: 0px 8px;
        vertical-align: middle;
    }

    #navigation a {
        display: block;
        background: white;
        width: 60px;
        font-weight:500;
    }

        #navigation a:hover {
            background: none;
            color:#fff;
        }
