@charset "utf-8";

@import url("/bower_components/bootstrap/dist/css/bootstrap.css");
@import url("shoplist.css");
@import url("base.css");

@import url("index.css");

.navigate-visible-true {
    /*background-color: red;*/
}

.navigate-visible-false {
    display: none;
}

 h4.block-title {
        height: 30px;
        background: #BB38D9;
        vertical-align: middle;
        text-align:center;
        color: white;
        line-height:30px; /*等于height可居中*/
        overflow:hidden; 
}